/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.apps-page .tile-cell {
  -webkit-margin-start: 20px;
  height: 70px;
  margin-bottom: 12px;
  width: 70px;
}

.apps-page .tile-cell:first-child {
  -webkit-margin-start: 0;
}

.apps-page .app {
  display: block;
  height: 70px;
  margin-top: 8px;
  outline: none;
  text-align: center;
  width: 70px;
}

.apps-page .app .title {
  color: #777;
  font-size: 0.9166em;
  margin-top: 4px;
}

.app-contents {
  -webkit-transition: -webkit-transform 100ms;
}

.app-contents:active:not(.suppress-active),
.app:not(.click-focus):focus .app-contents:not(.suppress-active),
.drag-representation:not(.placing) .app-contents {
  -webkit-transform: scale(1.1);
}

/* Don't animate the initial scaling.  */
.app-contents:active:not(.suppress-active),
/* Active gets applied right before .suppress-active, so to avoid flicker
 * we need to make the scale go back to normal without an animation. */
.app-contents.suppress-active {
  -webkit-transition-duration: 0;
}

.app-contents > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-img-container {
  /* -webkit-mask-image set by JavaScript to the image source. */
  -webkit-mask-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

.app-img-container > * {
  height: 100%;
  width: 100%;
}

.app-icon-div {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: -webkit-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;
  z-index: 0;
}

.app-icon-div .app-img-container {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.app-icon-div .color-stripe {
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  bottom: 0;
  height: 3px;
  opacity: 1.0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.app-context-menu > button:first-child {
  font-weight: bold;
}

.app-context-menu {
  z-index: 1000;
}

.app-context-menu > [checked]::before {
  height: 5px;
}

.launch-click-target {
  cursor: pointer;
}

/* Notifications */

.app-notification {
  -webkit-transition: color 150ms linear;
  color: #999;
  display: block;
  font-size: 0.9em;
  white-space: nowrap;
}

.app-notification:hover {
  text-decoration: underline;
}

.app-img-container > img:first-child {
  display: block;
}

.app .invisible {
  visibility: hidden;
}

/* Move the notification lower on apps pages to account for the 16px of
 * transparency each app icon should have. */
.apps-page #notification-container {
  bottom: 15px;
}
