/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * This is the stylesheet used by the Out of the box experience (OOBE) flow,
 * sign in and lock screens.
 */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  cursor: default;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
}

html[oobe=old] body {
  background-color: #fefefe;
}

html[oobe=new]:not([screen=lock]) body {
  background-color: transparent;
}

html[oobe=new][screen=lock] body {
  background-color: transparent;
}

progress {
  border: solid 1px #bbb;
  padding: 1px;
}

progress::-webkit-progress-bar {
  background: white;
}

progress::-webkit-progress-value {
  background: #bbb;
}

button {
  font-family: inherit;
  outline: none;
}

/* Follow same focus coloring as in widgets.css */
button.custom-appearance {
  -webkit-transition: border-color 200ms;
  border: 1px solid transparent;
  /* Don't grey out disabled buttons. */
  color: buttontext !important;
}

button.custom-appearance:focus {
  border-color: rgb(77, 144, 254);
}

button:not(.custom-appearance) {
  min-width: 72px !important;
}

#back-button,
#reset-button,
#password-changed-back-button {
  -webkit-margin-end: 8px;
}

#outer-container {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-perspective: 600px;
  bottom: 41px;  /* Leave space for the header bar */
  display: -webkit-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

html[oobe=old] #oobe {
  margin-top: 20px;  /* Compensate bottom header to center content. */
}

html[oobe=new] #oobe {
  margin-top: 40px;  /* Compensate bottom header to center content. */
}

#inner-container {
  position: relative;
}

html[oobe=old] #inner-container {
  height: 294px;
  padding: 20px;
  width: 640px;
}

html[oobe=new] #inner-container {
  border-radius: 2px;
  padding: 0;
}

html[oobe=new] #inner-container.animation {
  overflow: hidden;
}

/* Screens that have a border and background. */
html[oobe=new] #oobe.connect #inner-container,
html[oobe=new] #oobe.enrollment #inner-container,
html[oobe=new] #oobe.eula #inner-container,
html[oobe=new] #oobe.gaia-signin #inner-container,
html[oobe=new] #oobe.oauth-enrollment #inner-container,
html[oobe=new] #oobe.reset #inner-container,
html[oobe=new] #oobe.update #inner-container,
html[oobe=new] #oobe.user-image #inner-container,
html[oobe=new] #oobe.tpm-error-message #inner-container,
html[oobe=new] #oobe.password-changed #inner-container {
  background: -webkit-linear-gradient(rgba(255,255,255,0.99),
                                      rgba(255,255,255,0.95));
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
              0 4px 23px 5px rgba(0, 0, 0, 0.2),
              0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Only play this animation when 'down' class is removed. */
html[oobe=new] #inner-container:not(.down) {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
}

html[oobe=new] #inner-container.down {
  -webkit-transform: translateY(50px) rotateX(-2.5deg);
}

#eula #stats-help-link {
  color: rgb(49, 106, 197);
}

hr.shadow {
  -webkit-mask: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
                                        black 50%, rgba(0, 0, 0, 0));
  border: none;
  opacity: 0.3
}

hr.top {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  height: 4px;
}

hr.bottom {
  background: -webkit-linear-gradient(bottom,
                                      rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 4px;
  z-index: 0;
}

#header {
  -webkit-padding-start: 45px;
  background: url('chrome://theme/IDR_PRODUCT_LOGO_32') left center no-repeat;
  background-size: 32px;
  color: #666;
  display: -webkit-box;
  font-size: 23px;
  height: 47px;
  line-height: 45px;
  padding-top: 1px;
}

/* TODO(nkostylev): Remove all #header, #header-sections related rules. */
html[oobe=new] #header {
  display: none;
}

#header span {
  text-transform: lowercase;
}

#header span,
#user-image-screen-curtain p,
.label,
.flexible-label,
.menu-control {
  cursor: default;
}

#header-sections {
  display: inline-block;
  height: 30px;
  position: relative;
}

.header-section::before {
  /* Divider in header between product name and title,
   * like "[Product name] > [step header]". */
  content: '\00A0\203A\00A0\00A0';
}

.header-section {
  -webkit-transition: left 200ms, opacity 200ms ease-in-out;
  position: absolute;
  text-transform: lowercase;
  width: 20em;
}

html[dir=rtl] .header-section {
  -webkit-transition: right 200ms, opacity 200ms ease-in-out;
}

.header-section.right {
  left: 50px;
}

.header-section.left {
  left: -20px;
}

html[dir=rtl]  .header-section.right {
  right: 50px;
}

html[dir=rtl]  .header-section.left {
  right: -20px;
}

html[oobe=old] #step-logo {
  display: none;
}

#step-logo {
  -webkit-margin-start: 17px;
  position: absolute;
  top: 15px;
}

html[oobe=new] #connect .step-contents {
  margin: 33px auto 82px;
  width: 435px;
}

html[oobe=new] #eula .step-contents {
  -webkit-margin-after: 30px;
  -webkit-margin-start: 32px;
}

html[oobe=new] #gaia-signin .step-contents {
  -webkit-box-pack: center;
  display: -webkit-box;
}

html[oobe=new] #user-image .step-contents {
  -webkit-margin-after: 30px;
  -webkit-margin-start: 31px;
}

html[oobe=new] #oauth-enrollment .step-contents {
  -webkit-margin-after: 10px;
}

html[oobe=new] #user-image-screen-curtain {
  -webkit-margin-start: 8px;
}

html[oobe=new] #user-image-screen-description {
  -webkit-margin-before: 0;
}

.step {
  position: absolute;
}

html[oobe=old] .step {
  min-height: 294px;
  opacity: 1;
  width: 640px;
}

html[oobe=new] .step {
  box-sizing: border-box;
}

html[oobe=new] .step.animated {
  -webkit-transition: -webkit-transform 200ms ease-in-out,
                      opacity 200ms ease-in-out,
                      visibility 200ms ease-in-out;
}

html[oobe=old][dir=ltr] .step {
  -webkit-transition: left 200ms, opacity 200ms, visibility 200ms ease-in-out;
  left: 0;
}

html[oobe=old][dir=rtl] .step {
  -webkit-transition: right 200ms, opacity 200ms, visibility 200ms ease-in-out;
  right: 0;
}

html[oobe=old] .step.right {
  left: 100px;
}

html[oobe=old] .step.left {
  left: -50px;
}

html[oobe=old][dir=rtl] .step.right {
  right: 100px;
}

html[oobe=old][dir=rtl] .step.left {
  right: -50px;
}

.step.hidden {
  visibility: hidden;
}

/* Have to add attribute selector here otherwise style html[oobe=old] .step
   has more points. */
html[oobe=old] .faded,
html[oobe=old] .left,
html[oobe=old] .right {
  opacity: 0;
}

html[oobe=new] .faded,
html[oobe=new] .left,
html[oobe=new] .right {
  opacity: 0;
}

html[oobe=new] .step.right {
  -webkit-transform: translateX(50px);
}

html[oobe=new] .step.left {
  -webkit-transform: translateX(-50px)
}

#footer {
  -webkit-box-align: center;
  display: -webkit-box;
}

/* TODO(nkostylev): Remove all #footer related rules. */
html[oobe=new] #footer {
  display: none;
}

html[oobe=old] #progress {
  -webkit-box-align: center;
  display: -webkit-box;
}

html[oobe=old] #progress-dots {
  display: none;
}

html[oobe=new] #progress-dots {
  -webkit-box-pack: center;
  -webkit-margin-before: 15px;
  display: -webkit-box;
}

/* Hidden for the duration of initial transition. */
html[oobe=new] #progress-dots.down {
  visibility: hidden;
}

.progdot {
  -webkit-margin-end: 12px;
  opacity: 0.4;
}

html[oobe=old] .progdot {
  background: black;
  border-radius: 2px;
  height: 8px;
  width: 8px;
}

html[oobe=new] .progdot {
  background: white;
  height: 10px;
  width: 10px;
}

.progdot-active {
  opacity: 0.5;
}

.control-with-label {
  -webkit-box-align: start;
  display: -webkit-box;
  margin: 10px 0;
}

.menu-area {
  margin: 5px;
}

.menu-control {
  color: #444;
  font-family: inherit;
  line-height: 20px;
  position: relative;
  width: 250px;
}

.label,
.flexible-label {
  display: block;
  margin: 5px 5px 5px 0;
  padding: 5px 5px 5px 0;
}

.label {
  width: 170px;
}

.flexible-label {
  max-width: 250px;
}

html[oobe=old] #connect {
  box-sizing: border-box;
  padding: 60px 0 0 145px;
}

/* Padding for header and buttons. */
html[oobe=new] #connect {
  min-height: 395px;
  padding: 70px 17px 21px;
}

html[oobe=new] #eula {
  min-height: 395px;
  padding: 70px 17px 21px;
}

html[oobe=new] #update {
  min-height: 423px;
  padding: 70px 17px 69px;    /* Screen has no controls. */
}

html[oobe=new] #reset {
  min-height: 423px;
  padding: 40px 17px 80px;
  text-align: center;
  width: 722px;
}

html[oobe=new] #reset #reset-warning-msg {
  color: #606060;
  font-size: 22px;
  padding: 5px 45px 30px;
}

html[oobe=new] #reset #reset-warning-details {
  color: #606060;
  font-size: 16px;
  padding: 35px 40px 80px;
}

html[oobe=new] #reset #reset-controls {
  -webkit-box-pack: center;
  bottom: 80px;
}

html[oobe=new] #gaia-signin {
  height: 609px;
  padding: 70px 17px 69px;    /* Screen has no controls. */
  width: 722px;
}

html[oobe=new] #gaia-signin.no-right-panel {
  width: 522px;
}

html[oobe=new] #user-image {
  min-height: 443px;
  padding: 70px 17px 21px;
  width: 702px;
}

html[oobe=new] #oauth-enrollment {
  min-height: 609px;
  padding: 70px 17px 21px;
  width: 722px;
}

#logging {
  clear: both;
  font-size: small;
  margin-top: 20px;
  width: 500px;
}

html[oobe=new] #logging {
  width: 620px;
}

#logging div {
  display: table-cell;
  vertical-align: middle;
}

#usage-stats {
  -webkit-margin-end: 10px;
}

html[oobe=old] #user-image {
  margin: 0 20px;
}

#user-image-grid {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  display: inline-block;
  height: 264px;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  width: 400px;
}

#user-image-grid img {
  background-color: white;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}

#user-image-grid > li {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  margin: 4px;
  padding: 3px;
}

#user-image-grid [selected] {
  border: 2px solid rgb(0, 102, 204);
  padding: 2px;
}

#profile-image {
  position: relative;
}

/* White background for spinner styled like user image */
#profile-image .spinner-bg {
  background-color: white;
  height: 50px;
  left: 3px;
  position: absolute;
  top: 3px;
  visibility: hidden;
  width: 50px;
}

.profile-image-loading #profile-image .spinner-bg {
  visibility: visible;
}

#profile-image .spinner {
  left: 14px;
  position: absolute;
  top: 14px;
}

/**
 * #user-image-preview can have the following classes:
 * .default-image: one of the default images is selected (including the grey
 *                 silhouette);
 * .profile-image: profile image is selected;
 * .profile-image-loading: profile image is being loaded;
 * .online: camera is streaming video;
 * .camera: camera (live or photo) is selected;
 * .live: camera is in live mode (no photo taken yet/last photo removed).
 */

#user-image-preview {
  float: right;
  margin: 4px;
  max-width: 220px;
}

html[dir=rtl] #user-image-preview {
  float: left;
}

#user-image-preview-img {
  display: block;
  max-height: 220px;
  max-width: 220px;
}

.camera.live #user-image-preview-img {
  display: none;
}

.default-image #user-image-preview-img {
  background: white;
  border: solid 1px #cacaca;
  border-radius: 4px;
  padding: 2px;
}

.user-image-stream-area {
  display: none;
  padding: 0;
  position: relative;
}

.camera.live .user-image-stream-area {
  display: block;
}

#user-image-stream-crop {
  -webkit-transition: -webkit-transform 200ms linear;
  height: 220px;
  overflow: hidden;
  position: relative;
  width: 220px;
}

.flip-x #user-image-stream-crop {
  -webkit-transform: rotateY(180deg);
}

/* TODO(ivankr): specify dimensions from real capture size. */
.user-image-stream {
  border: solid 1px #cacaca;
  height: 220px;
  /* Center image for 4:3 aspect ratio. */
  left: -16.6%;
  position: absolute;
  visibility: hidden;
}

.online .user-image-stream {
  visibility: visible;
}

.user-image-stream-area .spinner {
  display: none;
  height: 44px;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  width: 44px;
}

.camera.live:not(.online) .user-image-stream-area .spinner {
  display: block;
}

#user-image-preview-caption {
  color: dimGray;
  font-size: smaller;
  margin: 8px 4px;
}

.camera #user-image-preview-caption {
  display: none;
}

#flip-photo {
  -webkit-transition: opacity 75ms linear;
  background: url('chrome://theme/IDR_MIRROR_FLIP') no-repeat;
  border: none;
  bottom: 8px;
  display: block;
  height: 32px;
  opacity: 0;
  position: absolute;
  right: 8px;
  width: 32px;
}

html[dir=rtl] #flip-photo {
  left: 8px;
  right: auto;
}

/* "Flip photo" button is hidden during flip animation. */
.online:not(.animation) .user-image-stream-area:hover #flip-photo {
  opacity: 0.75;
}

#discard-photo,
#take-photo {
  display: none;
  height: 25px;
  margin: 4px 1px;
  padding: 0;
  width: 220px;
}

.camera:not(.live) #discard-photo {
  background: url('chrome://theme/IDR_USER_IMAGE_RECYCLE')
      no-repeat center 0;
  display: block;
}

.camera.live.online #take-photo {
  background: url('chrome://theme/IDR_USER_IMAGE_CAPTURE')
      no-repeat center -1px;
  display: block;
}

#user-image-preview .perspective-box {
  -webkit-perspective: 600px;
}

#user-image-attribution {
  /* Turned off for now. */
  display: none;
}

/* TODO(nkostylev): Remove footer, button-strip styles. */
#footer {
  height: 28px;  /* Same as button height */
}

#footer button {
  display: none;
  height: 28px;
}

#button-strip {
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: end;
  display: -webkit-box;
}

.step-controls {
  -webkit-box-pack: end;
  -webkit-padding-end: 34px;  /* Double the padding of .step */
  bottom: 21px;
  box-sizing: border-box;
  display: -webkit-box;
  height: 28px;
  position: absolute;
  width: 100%;
}

.animation .step-controls button {
  /* Don't grey out disabled buttons during animation. */
  color: buttontext !important;
}

html[oobe=old] .step-controls {
  display: none;
}

.step.loading .step-contents,
.step.loading .step-controls,
.step.loading .step-extra-controls {
  visibility: hidden;
}

.step:not(.loading) #user-images-loading {
  visibility: hidden;
}

.step:not(.loading) #eula-busy {
  visibility: hidden;
}

/* Center spinner wrapper vertically and horizontally.
 * Vertical centering uses top: 50% and negative margin
 * instead of top: 0; bottom: 0 due to http://crbug.com/155320.
 */
.step-loading {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  left: 0;
  margin-top: -16px;
  position: absolute;
  right: 0;
  top: 50%;
}

.step-loading .spinner {
  height: 32px;
  width: 32px;
}

#oobe.connect #continue-button,
#oobe.eula #accept-button,
#oobe.eula #back-button,
#oobe.oauth-enrollment #oauth-enroll-cancel-button,
#oobe.oauth-enrollment #oauth-enroll-done-button,
#oobe.oauth-enrollment #oauth-enroll-explain-button,
#oobe.oauth-enrollment #oauth-enroll-try-again-button,
#oobe.reset #reset-button,
#oobe.reset #reset-cancel-button,
#oobe.signin #signin-button,
#oobe.user-image #ok-button {
  display: block;
}

#oobe.connect #connect-dot,
#oobe.enrollment #gaia-signin-dot,
#oobe.enrollment #signin-dot,
#oobe.eula #eula-dot,
#oobe.gaia-signin #gaia-signin-dot,
#oobe.oauth-enrollment #gaia-signin-dot,
#oobe.oauth-enrollment #signin-dot,
#oobe.signin #signin-dot,
#oobe.update #update-dot,
#oobe.user-image #user-image-dot {
  opacity: 1;
}

#account-picker-dot,
#enrollment-dot,
#oauth-enrollment-dot,
#reset-dot,
#tpm-error-message-dot,
#password-changed-dot {
  display: none;
}

#welcome-message {
  color: #444;
  font-size: 16px;
  margin-bottom: 30px;
}

#connect table {
  margin: 7em auto;
}

/* TODO(nkostylev): Cleanup, security-info - old design,
   installation-settings - new design. */
#security-info {
  bottom: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

#security-info a {
  color: #8c8c8c;
  font-size: 13px;
}

#oobe.eula + #security-info {
  visibility: visible;
}

html[oobe=new] #security-info {
  display: none;
}

/* TODO(nkostylev): Remove #security-info element and rules. */
html[oobe=old] #installation-settings {
  display: none;
}

#security-info a,
#eula a,
.step-extra-controls a {
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none;
}

.step-extra-controls {
  bottom: 26px;
  display: -webkit-box;
  left: 49px;
  position: absolute;
}

#security-info a:focus,
#eula a:focus,
.step-extra-controls a:focus {
  -webkit-transition: outline-color 200ms;
  /* Note: May use 1px solid here. */
  outline-color: rgb(77, 144, 254);
}

.step-extra-controls > *:not(:first-child) {
  -webkit-margin-start: 25px;
}

html[dir=rtl] .step-extra-controls {
  left: auto;
  right: 49px;
}

html[oobe=old] #update div {
  width: 32em;
}

html[oobe=old] #update div {
  margin: 6em auto;
}

#update-screen-curtain p {
  text-align: center;
}

#update #update-screen-curtain {
  -webkit-box-align: start;
  -webkit-box-pack: center;
}

#update #update-checking-progress {
  -webkit-box-align: start;
  -webkit-box-pack: center;
  color: #9c9c9c;
  display: -webkit-box;
}


html[oobe=old] #update #update-screen-curtain {
  margin: 9em auto;
}

html[oobe=new] #update #update-screen-curtain {
  margin: 45px 45px;
}

html[oobe=new] #update-screen-main {
  margin: 45px 45px;
  min-height: 114px;
  text-align: center;
}

#update #update-checking-ellipsis {
  width: 16px;
}

html[dir=ltr] #update #update-checking-ellipsis {
  text-align: left;
}

html[dir=rtl] #update #update-checking-ellipsis {
  text-align: right;
}

html[oobe=old] #update #update-cancel-hint {
  color: rgb(170, 0, 0);
  left: 50%;
  margin: 1em -16em;
  position: absolute;
}

html[oobe=new] #update #update-cancel-hint {
  -webkit-margin-before: 15px;
  -webkit-margin-start: 45px;
  color: rgb(170, 0, 0);
  position: absolute;
}

#update #update-upper-label {
  -webkit-margin-after: 4px;
}

#update #checking-updates-label {
  -webkit-margin-after: 34px;
}

#update #update-bottom-label {
  -webkit-margin-after: 4px;
  -webkit-margin-before: 4px;
  text-align: left;
}

html[oobe=old] #update progress {
  -webkit-margin-start: 74px;
}

#update progress {
  -webkit-margin-after: 4px;
  -webkit-margin-before: 34px;
  height: 15px;
  width: 300px;
}

#update .progress-message {
  -webkit-margin-before: 4px;
  color: #a3a3a3;
  font-size: 13px;
  text-align: center;
}

.eula-columns {
  display: -webkit-box;
  width: 630px;
}

.eula-frame {
  border: none;
  height: 200px;
  padding: 0 0 0 5px;
  width: 313px;
}

#cros-eula,
#oem-eula {
  border: 1px solid #d9d9d9;
  height: 200px;
}

html[oobe=new] .eula-frame,
html[oobe=new] #cros-eula,
html[oobe=new] #oem-eula {
  height: 222px;
}

#oem-eula {
  border-left: none;
}

#eulas.one-column #cros-eula {
  width: 100%;
}

#eulas.one-column #cros-eula-frame {
  width: 100%;
}

#eulas.one-column #oem-eula {
  display: none;
}

#installation-settings-popup {
  background: white;
  border: 1px solid rgb(188, 193, 208);
  border-radius: 2px;
  box-shadow: 0 5px 80px #505050;
  min-height: 250px;
  position: relative;
  width: 460px;
  z-index: 10;
}

#installation-settings-popup h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  background: -webkit-linear-gradient(white, #F8F8F8);
  color: rgb(83, 99, 125);
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px 8px 15px;
  text-shadow: white 0 1px 2px;
}

.popup-content-area {
  padding: 0 20px 60px 20px;
}

#installation-settings-popup button {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

#tpm-busy {
  text-align: center;
}

#tpm-password {
  font-weight: bold;
  text-align: center;
}

[hidden] {
  display: none !important;
}

#popup-overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: 250ms opacity;
  background: rgba(255, 255, 255, .75);
  bottom: 0;
  display: -webkit-box;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

#enroll-login-screen {
  display: -webkit-box;
  width: 630px;
}

#enroll-login-info {
  width: 310px;
}

.enroll-login-item {
  font-size: 0.9em;
  margin: 16px 8px;
}

.enroll-login-item-content {
  -webkit-margin-start: 52px;
}

.enroll-login-item-header {
  font-weight: bold;
  margin: 0 8px 0 0;
}

.enroll-login-item-image {
  position: absolute;
}

#enroll-login-form {
  height: 100%;
  width: 310px;
}

#gaia-local-login {
  border: none;
  height: 100%;
  vertical-align: top;
  width: 100%;
}

#enroll-confirmation-screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#enroll-confirmation-content {
  height: 1.5em;
  margin-top: -.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#enroll-confirmation-image {
  vertical-align: middle;
}

#enroll-confirmation-footer {
  bottom: 0;
  text-align: end;
  width: 100%;
}

/* Styling for OAuth enrollment screen. */

html[oobe=old] #oauth-enroll-container {
  bottom: 0;
  display: -webkit-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

html[oobe=new] #oauth-enroll-container {
  display: -webkit-box;
}

html[oobe=old] #oauth-enroll-signin-frame {
  height: 100%;
}

html[oobe=new] #oauth-enroll-signin-frame {
  height: 456px;
}

#oauth-enroll-signin-frame {
  border: 0 none;
  width: 100%;
}

html[oobe=old] #oauth-enroll-signin-frame-container {
  height: 100%;
}

#oauth-enroll-signin-frame-container {
  box-sizing: border-box;
  padding-bottom: 20px;
  width: 100%;
}

html[oobe=new] #oauth-enroll-signin-link-container {
  -webkit-box-pack: end;
  display: -webkit-box;
}

html[oobe=old] #oauth-enroll-signin-link-container {
  bottom: 0;
  position: absolute;
  right: 0;
}

#oauth-enroll-step-signin {
  width: 100%;
}

html[oobe=old] .oauth-enroll-step-center {
  height: 100%;
}

html[oobe=new] .oauth-enroll-step-center {
  height: 480px;
}

.oauth-enroll-step-center {
  display: table;
  margin: 0 auto;
}

.oauth-enroll-step-content {
  display: table-cell;
  vertical-align: middle;
}

.oauth-enroll-step-icon {
  display: inline-block;
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

.oauth-enroll-step-icon > * {
  -webkit-margin-end: .4em;
  display: inline-block;
  height: 22px;
  position: relative;
  top: -11px;
  width: 22px;
}

.oauth-enroll-step-message {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: top;
}

#oauth-enroll-explain-message {
  white-space: pre-line;
}

.oauth-enroll-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.close-button {
  background: url('chrome://theme/IDR_WEB_UI_CLOSE') center no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
}

.close-button:hover {
  background-image: url('chrome://theme/IDR_WEB_UI_CLOSE_HOVER');
}

.close-button:active {
  background-image: url('chrome://theme/IDR_WEB_UI_CLOSE_PRESSED');
}

html[dir=rtl] .close-button {
  left: 10px;
  right: auto;
}

#bubble {
  -webkit-transition: 250ms opacity;
}

html[dir=rtl] #header {
  background-position: right center;
}

body.login-display #oobe hr.shadow {
  -webkit-transition: all 800ms ease;
  width: 1100px;  /* Necessary. Otherwise hr shrinks to 0 first when switching
                     from 640px to full width. */
}

/* TODO(nkostylev): Remove hr element and rules. */
html[oobe=new] #oobe hr {
  display: none;
}

body.login-display #oobe.signin hr,
body.login-display #oobe.gaia-signin hr {
  opacity: 0;
}

body.login-display #inner-container {
  height: 262px;
  padding: 0;
  width: 1100px;
}

html[oobe=old] body.login-display .step {
  left: 230px;  /* (1100px - 640px) / 2, make it center in oobe div */
}

body.login-display #header {
  visibility: hidden;
}

body.login-display #footer {
  margin-left: auto;
  margin-right: auto;
  width: 640px;  /* Same width as .step screens */
}

html[oobe=old] body.login-display #progress {
  visibility: hidden;
}

html[oobe=new] body.login-display #progress-dots {
  visibility: hidden;
}

span.bold {
  font-weight: bold;
}

.error-message {
  -webkit-padding-start: 30px;
  background: url('chrome://theme/IDR_WARNING') left top no-repeat;
  background-size: 24px;
}

.error-message-padding {
  margin-bottom: 10px;
}

html[dir=rtl] .error-message {
  background-position: right top;
}

#version-labels {
  -webkit-transition: all 500ms linear;
  color: #fff;
  font-size: 11px;
  margin: 10px;
  text-align: end;
  text-shadow:
      0 0 4px rgba(0,0,0,.6),
      0 1px 2px rgba(0,0,0,.8),
      0 -1px 2px rgba(0,0,0,1);
}

#offline-network-control {
  margin-left: 60px;
}

#notification-area {
  color: #666;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 100%;
}

#notification-area a {
  color: rgb(37, 79, 155);
}

#notification-area .butter-bar {
  margin: 0 auto;
  max-width: 850px;
}

#background {
  -webkit-transition: 700ms opacity;
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.background-initial {
  opacity: 0;
}

.background-final {
  opacity: 1;
}
