<div class="step right hidden animated" id="eula">
  <div class="step-contents">
    <div id="eulas" class="eula-columns one-column">
      <div id="cros-eula">
        <iframe id="cros-eula-frame" class="eula-frame"
          src="chrome://terms"></iframe>
      </div>
      <div id="oem-eula">
        <iframe id="oem-eula-frame" class="eula-frame"></iframe>
      </div>
    </div>
    <div id="logging">
      <div>
        <input id="usage-stats" type="checkbox">
      </div>
      <div>
        <label for="usage-stats" i18n-content="checkboxLogging"></label>
        <a id="stats-help-link" href="#" i18n-content="learnMore"></a>
      </div>
    </div>
  </div>
  <div id="eula-controls" class="step-controls"></div>
  <div id="eula-extra-controls" class="step-extra-controls">
    <div id="eula-accessibility">
      <a id="eula-accessibility-link" href="#"
        i18n-content="accessibilityLink"></a>
    </div>
    <div id="installation-settings">
      <a id="installation-settings-link" href="#"
         i18n-content="eulaSystemInstallationSettings">
      </a>
    </div>
  </div>
  <div id="eula-busy" class="step-loading">
    <div class="spinner"></div>
  </div>
</div>
